@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

*{
  margin: 0;
  padding: 0;
  color: black;
  word-break: keep-all;
  font-family: "Nanum Gothic Coding", monospace;
}

*::-moz-selection {
  color: orange;
  background: purple;
}

*::selection {
  color: orange;
  background: purple;
}

a {
  text-decoration: none;
  color: white;
}

a:hover { 
  mix-blend-mode: difference;
}

.container{
  width: 1340px;
  margin: 0 auto;
}

.inner{
  display: flex;
  justify-content: center;
}

.repeatChaeAhn{
  font-size: 3rem;
}

.intro{
  font-size: 2rem;
  margin: 2rem 0rem;
  text-align: left;
} 

button{
  position: absolute;
  font-size: 2rem;
  padding: 1.5rem;
  border: 10px ridge;
  border-radius: 50%;
  background: none;
}

.btn-container{
  display: flex;
}

.btn-left{
  justify-content: start;
  position: relative;
  top: -6rem;
}

.btn-right{
  justify-content: end;
  position: relative;
  top: -15rem;
}

media screen and (max-width: 1220px) {
  .container{
    width: 890px;
  }
  
  .repeatChaeAhn{
    font-size: 2rem;
  }

  .intro{
    font-size: 1.5rem;
  } 

  .btn-container{
    width: 890px;
  }
  
  button{
    font-size: 1.5rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 890px) {
  .container{
    width: 670px;
  }
  
  .repeatChaeAhn{
    font-size: 1.5rem;
  }

  .intro{
    font-size: 1.3rem;
  } 

  .btn-container{
    width: 670px;
  }
  
  button{
    font-size: 1rem;
    padding: .8rem;
  }
}

@media screen and (max-width: 575px) {
  .container{
    width: 440px;
  }
  
  .repeatChaeAhn{
    font-size: 1rem;
  }

  .intro{
    font-size: 1rem;
    margin: .8rem 0rem;
  } 

  .btn-container{
    width: 440px;
  }
  
  button{
    font-size: 1rem;
    padding: .5rem;
  }
}

@media screen and (max-width: 430px) {
  .container{
    width: 310px;
  }
  
  .repeatChaeAhn{
    font-size: .7rem;
  }

  .intro{
    font-size: .8rem;
    margin: .5rem 0rem;
  } 

  .btn-container{
    transform: translate(0, 145px);
    width: 310px;
  }
  
  button{
    font-size: .6rem;
    padding: .5rem;
    border: 5px ridge;
  }
}

@media screen and (max-width: 390px) {
  .container{
    width: 268px;
  }
  
  .repeatChaeAhn{
    font-size: .6rem;
  }

  .intro{
    font-size: .7rem;
    margin: .5rem 0rem;
  } 

  .btn-container{
    transform: translate(0, 150px);
    width: 268px;
  }
  
  button{
    font-size: .6rem;
    padding: .4rem;
    border: 4px ridge;
  }
}

@media screen and (max-width: 375px) {
  .container{
    width: 245px;
  }
  
  .repeatChaeAhn{
    font-size: .55rem;
  }

  .intro{
    font-size: .7rem;
    margin: .5rem 0rem;
  } 

  .btn-container{
    transform: translate(0, 155px);
    width: 245px;
  }
  
  button{
    font-size: .6rem;
    padding: .4rem;
    border: 4px ridge;
  }
}
