*{
  margin: 0;
  padding: 0;
  color: black;
  word-break: keep-all;
  font-family: "Nanum Gothic Coding", monospace;

}

*::selection {
  color: orange;
  background: purple;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  mix-blend-mode: difference;
}

.header{
  display: flex;
  justify-content: space-between;
}

.menu{
  font-size: 1.2rem;
  margin: .5rem;
  padding: .5rem 1rem;
  border: 3px ridge;
  border-radius: 50%;
}

.project-title{
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  border-top: 1px solid black;
  font-size: 1.1rem;
  cursor: pointer;
}

.column1:hover{
  color: white;

}

.column1{
  width: 70vw;
  cursor: pointer;
  padding-right: 1rem;
}

.column2{
  width: 20vw;
}

.column3{
  width: 10vw;
  text-align: right;
}

.project-content{
  font-size: .9rem;
  padding: .5rem 1rem;
  display: none;
  overflow: hidden;
}

.description{
  display: flex;
  justify-content: space-between;
}

.img-carousel{
  margin-top: 30px;
  display: flex;
}

img{
  height: 400px;
  padding-right: .5rem;
}

@media screen and (max-width: 620px) {
  .project-title{
    padding: 1rem;
    font-size: .8rem;
  }
  .project-content{
    font-size: .5rem;
    padding: 0 1rem 1rem 1rem;
  }

  .img-carousel{
    margin-top: 1rem;
  }

  img{
    height: 150px;
  }
}

@media screen and (max-width: 390px) {
  .menu{
    font-size: .8rem;
    margin: .3rem;
    padding: .3rem .5rem;
    border: 2px ridge;
    border-radius: 50%;
  }

  img{
    height: 130px;
  }
}
