*{
  margin: 0;
  padding: 0;
  color: black;
  word-break: keep-all;
  font-family: "Nanum Gothic Coding", monospace;

}

*::selection {
  color: orange;
  background: purple;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  mix-blend-mode: difference;
}

.header{
  display: flex;
  justify-content: space-between;
}

.menu{
  font-size: 1.2rem;
  margin: .5rem;
  padding: .5rem 1rem;
  border: 5px ridge;
  border-radius: 50%;
}

.project-title{
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem 2rem 1rem;
  border-top: 1px solid black;
  font-size: 1.1rem;
  cursor: pointer;
}

.column1:hover{
  color: white;

}

.column1{
  width: 70vw;
  cursor: pointer;
  padding-right: 1rem;
}

.column2{
  width: 20vw;
}

.column3{
  width: 10vw;
  text-align: right;
}

.project-content{
  font-size: .9rem;
  padding: 1rem;
  display: none;
  overflow: hidden;
}

.description{
  display: flex;
  justify-content: space-between;
}

.img-carousel{
  margin-top: 30px;
  display: flex;
}

img{
  height: 400px;
  padding-right: .5rem;
}

@media screen and (max-width: 890px) {
  .menu{
    font-size: .8rem;
    margin: .3rem;
    padding: .2rem .5rem;
    border: 3px ridge;
  }

  .project-title{
    font-size: .8rem;
    padding: 0.2rem 1rem 2rem 1rem;
  }
  .project-content{
    font-size: .5rem;
    padding: 1rem;
  }

  .img-carousel{
    margin-top: 1rem;
  }

  img{
    height: 300px;
  }
}

@media screen and (max-width: 430px) {
  .menu{
    font-size: .7rem;
    margin: .3rem;
    padding: .2rem .4rem;
    border: 2.5px ridge;
  }

  .project-title{
    font-size: .6rem;
    padding: 0.1rem .6rem 1rem .6rem;
  }
  .project-content{
    font-size: .4rem;
    padding: .6rem;
  }

  .img-carousel{
    margin-top: .5rem;
  }

  img{
    height: 240px;
  }
}

@media screen and (max-width: 390px) {
  .menu{
    font-size: .7rem;
    margin: .3rem;
    padding: .2rem .4rem;
    border: 2.5px ridge;
  }

  .project-title{
    font-size: .6rem;
    padding: 0.1rem .6rem .5rem .6rem;
  }
  .project-content{
    font-size: .3rem;
    padding: .6rem;
  }

  .img-carousel{
    margin-top: .5rem;
  }

  img{
    height: 220px;
  }
}

@media screen and (max-width: 375px) {
  .menu{
    font-size: .7rem;
    margin: .3rem;
    padding: .2rem .4rem;
    border: 2.5px ridge;
  }

  .project-title{
    font-size: .5rem;
    padding: 0.2rem .6rem .8rem .6rem;
  }
  .project-content{
    font-size: .3rem;
    padding: .6rem;
  }

  .img-carousel{
    margin-top: .4rem;
  }

  img{
    height: 180px;
  }
}
